body {
    width: 100%;
    height: 100vh;
    background-color: #0E1524;
    color: white;
}

.leaflet-container {
    background: #0E1524;
}

#map {
    height: calc(100vh - 90px);
    cursor: pointer;
}

#details {
    border: 1px solid white;
}